* {
    margin: 0;  /* 外側の余白：　０に */
    padding: 0;  /* 内側の余白：　０に */
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

/* ヘッダー・ナビゲーション */
